/* overall adjustments go here */
body{
    margin: 0;
    background-color: #b4cded;
    font-family: "Oswald";
    
}
a{
    text-decoration: none;
}
/* Section Header adjustments go here */
.Section_Header{
    border: solid;
    border-top: none;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* All logo adjustments go here */
.Logo{
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 0;
    padding-bottom: 0;
    background: #bfcc94;
    border: solid;
    border-color: black;
    font-family: "Oswald";
    position: relative;
    z-index: 2;
}
/* Error handler page adjustments go here */
.Error_Page_Return{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    a{
        text-decoration: none;
        background-color: #f0f4ef;
        padding: 5px;
        border: solid;
        border-radius: 5px;
    }
}
.Error_Image img{ 
    align-items: center;
    width: 25%;
    height: 25%;
}
.Error_Page_Message{
    text-align: center;
    margin-top: 75px;
}    

/* All navigation adjustments go here */

.Navigation{
    background-color: powderblue;
    padding-top: 5px;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-top: none;
    font-family: "Cal Sans";
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
   
}
.Navigation ul{
list-style-type: none;
overflow: hidden;
}
.Navigation a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    background-color: #f0f4ef;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 10px;
}
.Navigation li.left_nav{
    float: left;
}
.Navigation li.right_nav{
    float: right;
}
/* All login/Sign up adjustments go here */
.Form_underlay{
    display: flex;
    justify-content: center;
    border: solid;
    width: 250px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: powderblue;
    margin-bottom: 50px;
}
.Input{
    margin-top: 20px;
}
.Sign_up_Login{
    text-align: center;
    font-size: 30px;
    
}
/* Made all imputs look the same */
input{
    border-radius: 10px;
    border: none;
}
.Flash_message{
    font-size: 20px;
}
button{
    background-color: #344966;
    color: #f0f4ef;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 5px;
}
/* All card adjustments go here */
.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
    
    
}
.Movie_cards {
    width: 325px;
    height: 615px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    overflow: hidden;
    border: solid;
    border-color: black;
    background-color: #344966;
    color: #f0f4ef;
    border-radius: 20px;
    td{
        width: 50%;
    }
}
.Movie_cards_poster{
   width: 100%;
   height: 450px; 
}
.Movie_cards_rating{
    width: 50%;
    height: auto;
    float: right;
}
.Movie_cards_table{
    width: 100%;
    
}
.Movie_cards_table h2{
    font-size: auto;
    height: 35px;
}
/* all show page adjustments go here */
.Show_page{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.Show_page_Header{
    text-align: center;
    border: solid;
    border-color: black;
    border-top: none;
}
.Show_page_poster {
    width: auto;
    height: 750px;
    margin-left: 200px;
    margin-right: 250px;
}
.Show_page_Info{
    width: 750px;
    height: auto;
    border-color: black;
    border: solid;
}
.Show_page_Info img{
    height: 75px;
    width: auto;
}
/* All _Select adjustments go here */
.Selection_Options{
    margin-top: 25px;
    margin-bottom: 50px;
}
.Selection{
    display: inline-flex;
    justify-content: center;
    width: 30%;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    h3{
        background-color: #f0f4ef;
        border-radius: 10px;
        padding: 10px;
        border: solid;
        border-width: 3px;
    }
}
/* All Copyright Adjustments go here */
.Copyright_Info{
    font-variant: lighter;
    text-align: center;
}
.Copyright_Links{
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 100px;
}
/* All About adjustments go here */
.About_info{
    text-align: center;
}
/* All Footer adjustments go here */
.Footer{
    background-color: powderblue;
    border: solid;
    padding-top: 15px;
    padding-bottom: 15px; 
    margin-top: 10px;
    position: fixed;
    bottom: 0;
}
.Footer_Table {
    text-align: center; 
    width: 100%;
    height: auto;
    table-layout: fixed;
    
}

.Footer_Link{
    background-color: #f0f4ef;
    padding: 10px;
    color: black;
    border-radius: 10px;
}