body{
    margin: 0;
}
/* Section Header adjustments go here */
.Section_Header{
    text-align: center;
}


/* All logo adjustments go here */
.Logo{
padding-top: 10px;
padding-left: 10px;
padding-right: 0;
padding-bottom: 0;
background: #bfcc94;
border: solid;
border-color: black;


/* All navigation adjustments go here */
}
.Navigation{
    background-color: powderblue;
    padding-top: 5px;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-top: none;
   
}
.Navigation ul{
list-style-type: none;
overflow: hidden;
}
.Navigation a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    background-color: #f0f4ef;
    margin-left: 5px;
}
.Navigation li.left_nav{
    float: left;
}
.Navigation li.right_nav{
    float: right;
}
.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.Movie_cards{
    width: 325px;
    overflow: hidden;
}
.Movie_cards img{
   width: 100%;
   height: auto; 
}