<!-- Makes Header.html show on the page -->
{% extends 'Header.html' %}
<!-- where this file extends from -->
{% block start %}
<div class="Section_Header">
    <h1><style> h1{margin-top: 0;} </style>Error 500</h1>
    <h2>Internal Server Error</h2>
</div>
<div class="Error_Page_Message">
    <h1>Oh No! Looks like Something went wrong on our end.</h1>
    <h2>Please enjoy this image of a cat while we correct the issue</h2>
    <h2>|</h2>
    <h2>|</h2>
    <h2>V</h2>
    <img class="Error_image" src="https://media1.tenor.com/m/sbfBfp3FeY8AAAAC/oia-uia.gif" alt="Cat image sorry if it is not loaded">
</div>
{% endblock %}