<!-- Makes Header.html show on the page -->
{% extends 'Header.html' %}
<!-- where this file extends from -->
{% block start %}
<h1 class = "Section_Header">About Page</h1>
<!-- add intended audience  -->
<!-- Purpose of the site outside of assesment -->
<!-- intended use -->
<div class="About_info"> 
    <h3>This website is an movie show website developed for a NCEA Level 3 Digital Technologies Assessment. 
        It was Developed over the course of a school term and a half. 
        In order to develop this website I used the languages of Python, SQL, HTML 5 and CSS 3.
        I also used the open source software of Flask and Werkzeug to be able to connect my Database with secrurity features. 
        This website is only for educational use with all iterations of this site avalible on the GitHub repositry.</h3> 
    <h3>The intended audience for this site is for United States audiences. 
        As all rating for the movies and TV shows are the age rating they were given in the United States.
        The Purpose of this site was to provide US audiences with a easy to understand movie overview site. 
        With them being able to extract basic information without being bombarded with too much infomation.</h3>  
    <h3>Thank you for taking your time to enjoy my site.</h3>
    <h3>Signed REPUBLIC223 (Sole Developer)</h3>
</div>

{% endblock %}