<!-- Makes Header.html show on the page -->
{% extends 'Header.html' %}
<!-- where this file extends from -->
{% block start %} 
    <h1 class = "Section_Header"> Select your Director</h1>
    <div class="Selection_Options">
        {% for Director in results %}
            <a href="/Director/{{Director[1]}}">
                <!-- Class to change all of the selection pages -->
                <div class="Selection">   
                    <h3>{{Director[0]}}</h3>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}