<!-- HTML set up -->
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JDs Movies and TV Shows</title>
</head>

<body>
    <!-- logo class for forming title -->
<div class="Logo">
    <h1>JDs Movies and TV Shows</h1>
</div>
<!-- Navigation bar for header -->
<nav class="Navigation">
    <ul>
        <li class="left_nav"><a href="/">Home</a></li>
        <li class="left_nav"><a href="/">TV Shows</a></li>
        <li class="left_nav"><a href="/">Movies</a></li>
        <li class="left_nav"><a href="/">Directors</a></li>
        <li class="left_nav"><a href="/">Country</a></li>
        <li class="left_nav"><a href="/">Genre</a></li>
        <li class="right_nav"><a href="/">Log In</a></li>
    </ul>
</nav>
</body>
</html>