<!-- HTML set up -->
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JDs Movies and TV Shows</title>
</head>

<body>
    <!-- logo class for forming title -->
<div class="Logo">
    <h1>JDs Movies and TV Shows</h1>
</div>
<!-- Navigation bar for header -->
<nav class="Navigation">
    <ul>
        <li class="left_nav"><a href="/">Home</a></li>
        <li class="left_nav"><a href="/TV_Shows">TV Shows</a></li>
        <li class="left_nav"><a href="/Movies">Movies</a></li>
        <li class="left_nav"><a href="/Director_Select">Directors</a></li>
        <li class="left_nav"><a href="/">Country</a></li>
        <li class="left_nav"><a href="/">Genre</a></li>
        <li class="right_nav"><a href="/Login">Log In</a></li>
    </ul>
</nav>
<!-- Where all the pages extend from -->
{% block start %}
{% endblock %}
<!--show message flashes -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>