<!-- Makes Header.html show on the page -->
{% extends 'Header.html' %}
<!-- where this file extends from -->
{% block start %}
    {% if not session['username'] %}
    <h1 class="Section_Header">You must be logged in to be able to post an issue</h1>
    {% endif %}
    {% if session['username'] %}
    <form class="Issues" action="/Issues", method="post">
        <div class="Input">
            <div class="label"><label for="Issue">Enter your Issue</label></div>
            <input type="text", name="Issue"> 
        </div>
        <button type="submit">Submit</button>  
    </form>
    {% endif %}
    {% for Issues in results %}
    <div class="Issues_Results">
        <h2>{{ Issues[0]}}</h2>
        <h3>{{Issues[1]}}</h3>
    </div>
    {% endfor %}
{% endblock %}