<!-- Makes Header.html show on the page -->
{% extends 'Header.html' %}
<!-- where this file extends from -->
{% block start %}

<h1 class="Section_Header">Movies</h1>

<div class="card">
    {% for Shows_Display in results %}
    <a href="/Show_page/{{Shows_Display[0]}}">
        <div class="Movie_cards">
            <img class="Movie_cards_poster" src="{{ Shows_Display[4] }}", alt="{{ Shows_Display[1] }}Movie Poster.">
            <table class="Movie_cards_table">
                <caption><h2>{{ Shows_Display[1] }}</h2></caption>    
                <tr>
                    <td>Year: {{Shows_Display[2]}}</td>
                    <td><img class="Movie_cards_rating" src="{{ Shows_Display[3] }}" alt="{{Shows_Display[5]}} image"></td>
                </tr>
            </table>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}